<!doctype html>
{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<html lang="en">
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  </style>
</head>
<body>

<div class="row">
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">All</a>
            </li>
        {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<!--<div class="row" style="border: 5px solid black" align="center">-->

<!--    {% for product in products %}-->
<!--    <div class="col-xs-1 col-lg-3 col-md-5 col-sm-3 ">-->
<!--        <div class="card" style="width: 15rem; margin:10px;">-->

<!--            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'shop/no_image.png' %}{% endif %}"height="180" width="176" >-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">{{ product.name }}</h5>-->
<!--                <p class="card-text">${{ product.price }}</p>-->
<!--                <a href="#" class="btn btn-primary"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br></a>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--    {% endfor %}-->
<!--</div>-->



{% endblock %}

</body>
</html>